<!DOCTYPE html>
<html>

<head>
    <title>Voting post details</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport"
        content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="../css/style.css">
    <script src="../js/jquery-3.1.1.min.js"></script>
    <script src="../js/media.js"></script>
</head>

<body>
    <div class="wrapper">
        <div class="topHead spaceBetween">
            <a class="topClose">
                <img src="../images/topclose.png" />
            </a>
            <div class="topTitle">智慧公安</div>
            <div class="topClose"></div>
        </div>
        <div class="content whiteBg">
            <header class="postTit">惠民服务之：人民警察家园团队拓展活动【第九期】</header>
            <div class="senderInfor spaceBetween">
                <div class="inforLeft">
                    张三四<span class="department">金山分局/反恐支队</span>
                </div>
                <div class="inforRight"><img src="../images/eyes.png" />阅读量&nbsp;280</div>
            </div>
            <div class="senderDate">2019-10-24</div>
            <div class="sendContent">
                <img src="../images/post1.png" />
                <p>按照市委“不忘初心、牢记使命”主题教育安排，10月22日上午，副市长、公安局长毛建国以“为丽水高质量绿色发展扛起公安担当”为主题。</p>
            </div>
            <div class="votingContent">
                <div class="votingHeader">今天晚饭吃什么？</div>
                <div class="choiceForm">
                    <p class="left">单选</p>
                    <div class="right haveVoted" style="display: none;">已投<span class="votedTotal">0</span>票</div>
                    <div class="clearfix"></div>
                </div>
                <ul class="votingList">
                    <li>
                        <label class="votingLabel">
                            <input class="votingRadio" type="radio" name="voting">
                            <span class="votingRadioInput left"></span>
                            <img class="checkMark left" style="display: none;" src="../images/checkmark.png" />
                            <div class="votingName left">牛排牛排牛排牛排牛排牛排牛排牛排牛排牛排牛排牛排牛排</div>
                            <div class="clearfix"></div>
                        </label>
                        <div class="votedBg" style="display: none;"></div>
                        <div class="votingNum" style="display: none;"><span>750</span>票</div>
                    </li>
                    <li>
                        <label class="votingLabel">
                            <input class="votingRadio" type="radio" name="voting">
                            <span class="votingRadioInput left"></span>
                            <img class="checkMark left" style="display: none;" src="../images/checkmark.png" />
                            <div class="votingName left">大盘鸡</div>
                            <div class="clearfix"></div>
                        </label>
                        <div class="votedBg" style="display: none;"></div>
                        <div class="votingNum" style="display: none;"><span>666</span>票</div>
                    </li>
                    <li>
                        <label class="votingLabel">
                            <input class="votingRadio" type="radio" name="voting">
                            <span class="votingRadioInput left"></span>
                            <img class="checkMark left" style="display: none;" src="../images/checkmark.png" />
                            <div class="votingName left">火锅</div>
                            <div class="clearfix"></div>
                        </label>
                        <div class="votedBg" style="display: none;"></div>
                        <div class="votingNum" style="display: none;"><span>1</span>票</div>
                    </li>
                </ul>

                <div class="endTime">截止时间： 2019-11-24 18:00</div>
                <div class="endTime" style="display: none;">该投票已结束</div>
                <div class="votingBtn">投票</div>
            </div>
            <div class="interaction spaceBetween">
                <div class="followCont center"><span class="followIcon"></span>关注</div>
                <div class="thumbsCont center"><span class="thumbsIcon"></span>266</div>
            </div>
        </div>
        <div class="commentTheme">
            <div class="spaceBetween">
                <div class="totalComment">39条评论</div>
                <div class="sortByTime center">按时间正序&nbsp;<span class="sortIcon"></span></div>
                <div class="sortByTimeRotate center" style="display: none;">按时间倒序&nbsp;<span
                        class="sortIcon rotate"></span>
                </div>
            </div>
            <div class="commentList">
                <div class="commentTit">
                    <div class="listTop"><img src="../images/head.png" /></div>
                    <div class="listBottom">
                        <div>张三四<span class="department">金山分局/反恐支队</span></div>
                        <div class="fooller">
                            <div class="commentDate left">第1楼 · 09-18</div>
                            <div class="thumbsCont right"><span class="thumbsIcon"></span>266</div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="commentText">参考答案：我想其实这个提案的部分是非常有创意，可是这个计划来得及吗？预算足够吗？消费者可以接受吗？还有是我们的关注点。</div>
                        <a href="commentList.html" class="viewReply">查看3条回复<span></span></a>
                    </div>
                </div>
            </div>
            <div class="commentList">
                <div class="commentTit">
                    <div class="listTop"><img src="../images/head.png" /></div>
                    <div class="listBottom">
                        <div>王二小<span class="department">宝山分局/反恐支队</span></div>
                        <div class="fooller">
                            <div class="commentDate left">第2楼 · 10-24</div>
                            <div class="thumbsCont right"><span class="thumbsIcon"></span>266</div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="commentText">参考答案：我想其实这个提案的部分是非常有创意，可这个计划来得及吗？预算足够吗？消费者可以接受吗？还是我们的关注点。</div>
                    </div>
                </div>
            </div>
            <div class="commentList">
                <div class="commentTit">
                    <div class="listTop"><img src="../images/head.png" /></div>
                    <div class="listBottom">
                        <div>张思欣<span class="department">嘉定分局/反恐支队</span></div>
                        <div class="fooller">
                            <div class="commentDate left">第3楼 · 10-25</div>
                            <div class="thumbsCont right"><span class="thumbsIcon"></span>266</div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="commentText">参考答案：我想其实这个提案的部分是非常有创意，可是这个计划来得及吗？预算足够吗？消费者可以接受吗？还有是我们的关注点。</div>
                        <a href="commentList.html" class="viewReply">查看2条回复<span></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="writeComments spaceBetween">
        <input type="text" placeholder="输入你想说的话…" />
        <div class="send center"><span></span>发送</div>
    </div>
    <script>
        $(function () {
            $(".sortByTime").click(function () {
                $(this).hide();
                $(".sortByTimeRotate").show();
            })
            $(".sortByTimeRotate").click(function () {
                $(this).hide();
                $(".sortByTime").show();
            })
            $(".followCont").click(function () {
                $(this).find(".followIcon").toggleClass("followedIcon");
            })
            $(".thumbsCont").click(function () {
                $(this).find(".thumbsIcon").toggleClass("thumbsedIcon");
            })
            $(".votingRadioInput").each(function () {
                $(this).click(function () {
                    $(".votingBtn").addClass("votingBtnBg");
                    $(".votingBtnBg").click(function () {
                        $(".haveVoted").fadeIn();
                        $(".votedBg").fadeIn();
                        $(".markLabel .radioChecked").hide();
                        $(".markLabel .checkMark").show();
                        $(".votingRadioInput").hide();
                        $(".votingName").addClass("mleft");
                        $(".markLabel .votedBg").width($(".markLabel .votedBg")
                            .width() + 50);
                        $(this).text("已投票").addClass("grayBg");
                        $(".votingName").addClass("haveVotedWidth");
                        $(".votingNum").show();
                        var sum = 0;
                        $(".votingNum").each(function () {
                            sum += $(this).find("span").text() * 1;
                        })
                        $(".votedTotal").text(sum);
                    });
                    $(this).css("border", "none");
                    $(this).parent().parent().siblings().find(".votingRadioInput").css("border",
                        "1px solid #999999");
                    $(this).parent().parent().addClass("markLabel");
                    $(this).parent().parent().siblings().removeClass("markLabel");
                    $(this).parent().parent().siblings().find(".votingRadioInput").removeClass(
                        "radioChecked");
                    $(this).addClass("radioChecked").parent().siblings().find(
                        "votingRadioInput").removeClass("radioChecked");
                })
            })
        })
    </script>
</body>

</html>